.descricaoproduto{

    color: #3c4c63;

}

.valorproduto{

    color: #f8a02c; font-size: xx-large; text-decoration: none; font-weight: bolder;

}

#zoomin {

    transition: all 0.5s;

}

#zoomin:hover {

    transform: scale(0.95);

}


#zoomout {

    transition: all 1s;

}

#zoomout:hover {

    transform: scale(1.1);
}

