#imagemlogo {

  height: 60px; margin: 0; padding: 0

}

#navegacao {

  margin: 20px; padding: 10px; border-radius: 5px; background-color: #fff;

}

#pesquisa {

    border-color: #9cac74;
    background-color: #9cac74;
    color: #fff;
    transition: all 0.5s;

}

#pesquisa:hover {
  
    transform: scale(1.1);
  

}

#carrinho {

  color: #3c4c63;

}

#botaoPerfil {

  background-color: #fff;
  border: #fff;
  color: #3c4c63;
  transition: all 0.5s;

}

#botaoPerfil:hover {

  background-color: #fff;
  color: #3c4c63;
  transform: scale(1.1);


}

#admin{
  
  background-color: #fff;
  border: #fff;
  color: #3c4c63;
  transition: all 0.5s;
}

#admin:hover {

  background-color: #fff;
  color: #3c4c63;
  transform: scale(1.1);


}